div#root{
  height: 100%;
  width: 100%;
  border: 0px solid orange;
}
div.main{
  padding: 0em;
  height: 100%;
  border: 0px dashed black;
}

div.top{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  border: 0px solid yellow;
}
div.test{
  width: 100%;
  border: 0px solid red;
}
.right{
  display: inline-block;
  width: 25%;
  border: 0px solid green;
}
.middle{
  display: inline-block;
  width: 75%;
  height: 100%;
  margin: 0em;
  border: 0px solid green;
  vertical-align: top;
 }
.bottom{
  clear: both;
  float: left;
  text-align: center;
  height: 25%;
}
.avgscore{
  color: black;
  font-size: 36px;
  font-weight: bold;
  border: 0px solid silver;
}

button.card, button.cardplayed{
  border-radius: 6px;
  -webkit-box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.75);
  margin: 4px;
  border: 8px solid antiquewhite;
  width: 120px;
  height: 150px;
  background-color: cornflowerblue;
  color: black;
  font-size: 52px;
}

button.cardplayed{
  background-color: black;
  color: white;
}

button.card:hover{
  background-color: blue;
  color: white;
  border: 8px solid whitesmoke;
  transform: rotate(10deg) translate(0,-25px);
  transition: all 0.25s ease-in-out;
}
p.votes{
  display: inline;
}

.voteName{
  font-size: 16px;
}